


 h1{font-family: "Sofia", sans-serif;
font-size: 60px;
text-shadow: 3px 3px 3px #ababab;
margin: 25px 50px 75px 100px;
 text-align: center;
  padding: 20px;
background-color: lightblue;

}
h2{ font-family: 'Brush Script MT', cursive;
font-size: 27px;}
h5{ font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  color: blue;
}
h3{ font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 40px 70px 90px 60px;
  color:black;
height: 20px;
  width: 500px;
 background-color: lightgreen;
}
p{ font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(30, 3, 56);
  font-size: 30 px;
  margin: 40px 70px 90px 60px;}
ol{
  font-family:'Courier New', Courier, monospace;
  font-size:25px;
  color: olivedrab;
}
img {
  border: 15px solid palevioletred;
  border-radius: 8px;
  padding: 10px;
  width: 400px;
  margin: 40px 70px 90px 60px;
}
.downnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.downnav a {
  float: left;
  display: block;
  color: lightblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.downnav a:hover {
  background-color: #ddd;
  color: black;
}
body{
  background-image: url("../index.html/images.html/6-2-flowers-png-2.png");
  background-repeat: no-repeat;
  background-position: right top;
  margin-right: 200px;
 

}

